[submodule "a3/parsl-docking-tutorial"]
	path = a3/parsl-docking-tutorial
	url = https://github.com/ValHayot/parsl-docking-tutorial
[submodule "a4/psij-python"]
	path = a4/psij-python
	url = git@github.com:ValHayot/psij-python.git
[submodule "a5/hpcbadge"]
	path = a5/hpcbadge
	url = git@github.com:ValHayot/hpcbadge.git
[submodule "a5/reprobadge"]
	path = a5/reprobadge
	url = git@github.com:ValHayot/hpcbadge.git
[submodule "a2/correct"]
	path = a2/correct
	url = git@github.com:globus-labs/correct.git
